.content form {
    
    text-align: center;
    animation: fade-in-up 0.5s ease-in-out;
}

.content form input {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    margin-bottom: 1em;
    color: var(--background-start-rgb);
    border-radius: 8px;
    border: 0px var(--background-start-rgb) solid;
}



.content form button, .error button {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.error button {
    padding: 5px 10px;
    margin-top: 5px;
}

.content form button:hover, .error button:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: var(--background-start-rgb);
}

.content .error {
    padding-top: 5px;
    min-height: 2em;
}

