.content.auth {
    max-width: 500px;
    padding: 4em 5em;
    animation: fade-in-up 0.5s ease-in-out;
}

.content form {
    margin: 10px auto;
    /* max-width: 500px; */
    animation: fade-in-up 0.5s ease-in-out;
}

.content form.auth h3 {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
}

.content form input {
    width: 100%;
}

.content form input:first-of-type {
    margin-bottom: 1em;
}

.content form button {
    position: relative;
    margin: 0px auto;
    margin-top: 2em;
    margin-bottom: 0em;
    display: block;
    text-align: center;

}

/* .content form input {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    margin-bottom: 1em;
    color: var(--background-start-rgb);
    border-radius: 8px;
    border: 0px var(--background-start-rgb) solid;
} */



/* .content form button, .error button {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
} */

.error button {
    padding: 5px 10px;
    margin-top: 5px;
}

.content form button:hover,
.error button:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: var(--background-start-rgb);
}

.content .error {
    padding-top: 5px;
    min-height: 2em;
    color: red;
    font-weight: bolder;
}

.auth .hide {
    display: none;
    transition: fadeIn;
}

.auth a {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .content.auth {
        
        padding: 1em 2em;
    }

    .content form {
        padding: 1em 0em;
    }
}