# Variables are required unless the comment above flags them as (optional).

# your MongoDB connection string, e.g. 'mongodb+srv://username:password@cluster.mongodb.net/database'
MONGO_URI=''
# (optional) if your MongoDB connection string doesn't include the username and password, you can specify them here
MONGO_PSWD=''
# (optional)
MONGO_USER=''

# a strong, random string used to sign JWT tokens
JWT_SECRET=''

# for use by NodeMailer to send verification emails
VERIFY_EMAIL_PSWD=''
VERIFY_EMAIL=''

# (optional) for development, but required in production to ensure correct URL generation for email verification and password reset links
ROOT_URL=''

# Where should app/api/img send the images it receives?
# My tech stack is sending images to an AWS S3 bucket (by way of an AWS API Gateway).
S3_IMG_BUCKET_API=''

# Where can the frontend find the images that are sent to the S3 bucket?
#
# This /CANNOT/ simply be a public URL of the S3 bucket, e.g. 'https://my-bucket.s3.amazonaws.com/' because 
# Next.js's built in Image component needs to be able to optimize or at least access the images. 
# I ended up having to set up a CloudFront distribution in front of my S3 bucket and then allowlist
# the CloudFront URL in my next.config.js file so that Next.js would allow the images to be used.
# Setting up CloudFront is easy and simple. The only trick part was that I had been hard-coding the S3 bucket img URL's
# into my portfolio data, so I had to add some code to check if the image URL included the S3 bucket URL and replace it with the CloudFront URL before use.
NEXT_PUBLIC_IMG_BUCKET_CDN=''

# Where should app/api/portfolio send the the new/updated portfolio data it receives?
PORTFOLIO_POST_URL=''

# Where should the frontend fetch portfolio data from?
PORTFOLIO_GET_URL=''


ENVIRONMENT='DEV'