MONGO_URI=''
MONGO_PSWD=''
MONGO_USER=''

JWT_SECRET=''

VERIFY_EMAIL_PSWD=''
VERIFY_EMAIL=''

ROOT_URL=''

S3_IMG_BUCKET_API=''
S3_IMG_BUCKET=''

NEXT_PUBLIC_S3_IMG_BUCKET=''
NEXT_PUBLIC_IMG_BUCKET_CDN=''

PORTFOLIO_POST_URL=''
PORTFOLIO_GET_URL=''

ENVIRONMENT=''