/* .scrollsnap { */
.scrollsnap-container {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    /* max-height: 100vh; */
    /* height: 100vh; */
    width: 100vw;
    overflow-y: scroll;

    /* outline: 3px dashed red; */
    /* outline-offset: -3px; */
}

.scrollsnap-container:has(>section.scrollsnap) {
    height: 100vh;
    max-height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-padding: 0em 0em 0em 0em;
}

/* .scrollsnap-container:has(.no-snap) {
    scroll-snap-type: none;
} 

.no-snap {
    min-height: 90vh;
}

.no-snap>section {
    /* make section fill its parent */
/*
    height: 100%;
    min-height: inherit;
    box-sizing: border-box;
}
*/



.scrollsnap-container>section {
    /* border: 2px dotted greenyellow; */


}

section.scrollsnap {
    scroll-snap-align: start;
    min-height: 100vh;

    position: relative;
    /* outline: 2px dotted greenyellow; */
}

section.scrollsnap,
section.full {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    margin: 0 auto;
    padding: 5em 5em;
    /* overflow-x: hidden; */

}

section.full {

    min-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    /* outline: 2px dotted rgb(255, 47, 227); */
    outline-offset: -2px;

}

section:not(.scrollsnap):not(.full) {
    position: relative;
    /* min-height: 20vh; */
    /* height:min-content; */
}

section:not(.scrollsnap):not(.full)>.content:last-of-type {
    margin-bottom: 15vh;
}





section>.content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* transform-origin: top center; */

    /* padding-top: 3em; */
    margin: 2em auto;
    max-width: 1000px;
    width: calc(100% - 10rem);
    /* margin-bottom: 10em; */

    padding: 1.5em;

    /* border: 1px dashed cyan; */
}

section.scrollsnap>.content,
section.full>.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow-x: hidden; */
}


section .body {
    padding: 2em;
    position: relative;
}

.content h2 {
    text-align: center;
    font-size: 1.5em;
}

section>.content.no-background {
    background-color: transparent;
}

section .with-background {
    background-color: var(--background-rgba-40);
    border-radius: 20px;
    /* border: 1px var(--foreground-rgba-20) solid; */

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

section .bg-grad {
    background-image: var(--content-bg-grad);
}

section.scrollsnap:has(>.content.extra-long) {
    /* scroll-snap-align: center; */
    overflow-y: scroll;
    /* background-color: rgba(255, 166, 0, 0.299); */

}

section>.content.extra-long {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    padding: 0em;
    transform: translate(0, 0);
    /* margin-bottom: 35vh; */
}

section .centered {
    text-align: center;
}

.content p.subcap {
    font-size: 0.7em;
}




section:not(.scrollsnap)~footer {
    scroll-snap-align: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* margin: 0 auto; */
    /* border: 2px green solid; */
}

footer.scrollsnap {
    position: relative;
    scroll-snap-align: end;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    border-top: 1px solid var(--foreground-rgb);
    padding-bottom: 1em;
}


/* 404 */
.four-oh-four {
    padding-bottom: 5em;
}
.four-oh-four h1 {
    font-size: 4em;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0.7em;
}
.four-oh-four-title {
    padding-bottom: 1em;
}



/* BUTTONS */
button {
    /* margin: 0.5em; */
    padding: 0.5em 1.5em;
    color: var(--foreground-rgba-60);
    background-color: var(--background-rgba-60);
    border: 1px solid var(--foreground-rgba-20);
    border-radius: 8px;

    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

button:hover {
    color: var(--foreground-rgb);
    border: 1px solid var(--foreground-rgba-60);
    background-color: var(--background-rgba-80);
}



/* FORMS & INPUTS */
input[type="text"]:not(.tag-input-field),
input[type="email"]:not(.tag-input-field),
input[type="password"]:not(.tag-input-field),
input[type="date"]:not(.tag-input-field),
textarea,
#tag-input {
    display: block;
    /* margin: 0 auto; */
    padding: 0.5em 1em;
    /* margin-top: 1.5em; */
    line-height: 1em;
    max-height: 2em;

    color: var(--foreground-rgb);
    background-color: var(--foreground-rgba-05);
    border-radius: 8px;
    /* border: 1px transparent solid; */
    transition: 0.3s ease-in-out;
    outline: none;
}

input:not(.tag-input-field):focus,
textarea:focus {
    /* background: var(--background-rgba-60); */
    /* border: 1px var(--background-start-rgb) solid; */
    outline: 1px solid var(--foreground-rgba-40);
}

input:not(.tag-input-field):focus::placeholder {
    opacity: 0.3;
}

label,
.item-tags>h3,
.add-item h3 {

    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: calc(0.5em / 0.7);
    transition: 0.5s ease-in-out;
    opacity: 0;
}

label:has(+ input:not(:placeholder-shown)),
label:has(+ textarea:not(:placeholder-shown)) {
    opacity: 0.6;
}



input[type="date"]::-webkit-calendar-picker-indicator {
    /* background-color: var(--background-rgba-80); */
}


/* input[type='text'] + label, 
input[type='email'] + label, 
input[type=password] + label, 
textarea + label {
 
    opacity: 0;

    transform: translateY(-1em);
    top: calc(-3.5em / 0.7);

}
input:not(:placeholder-shown) + label {
    opacity: 0.6;
}

input[type=password] + label {
    color: orange;
} */





/*******************/
/** CONTENT PAGES **/
/*******************/









/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {

    /* .section {
        max-width: 90vw;
        
    } */


    .scrollsnap-container>section {
        /* margin-bottom: 20vh; */
        padding: 3em 0em;
    }

    section.scrollsnap,
    section.full {
        height: calc(100vh - 4em);
        max-height: 100vh;
        /* margin: 0 auto;
        padding: 5em 5em; */
    }

    /* section,
    section.scrollsnap {
        max-width: 100vw;
        padding: 0em 0em;
        margin-bottom: 20vh;
    } */

    section:has(.auth) {
        margin-bottom: 0;
    }

    section>.content {
        width: calc(100vw - 2rem);
        max-width: 95vw;
        padding: 2em;
        margin: auto auto;
    }

    section .body {
        padding: 0em;
    }

    section.scrollsnap:has(>.content.extra-long) {
        scroll-snap-align: center;
        /* overflow-y: scroll; */
        /* background-color: rgba(255, 166, 0, 0.299); */

    }

    section>.content.extra-long {
        position: relative;

        width: 95vw;
        max-width: 100vw;
        top: 0;
        left: 0;
        padding-top: 6rem;
        /* transform: translate(0,0); */
        margin-bottom: 40vh;
    }

    .content p.subcap {
        font-size: 0.7em;
        padding-bottom: 0.7em;
    }

    section:not(.scrollsnap)~footer {
        bottom: 4em;
    }

    footer.scrollsnap {
        margin-bottom: 4em;
    }



}