

.scrollsnap {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    overflow-y: scroll;
    /* border: 3px dashed red; */
}

.scrollsnap > section {
    scroll-snap-align: start;
    
    /* border: 1px dashed greenyellow; */

    min-height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 5em 5em;
    
    /* padding-top: 3em;
    margin: 3em auto;
    max-width: 70vw;
    padding: 2em;
    border-radius: 20px;
    
    background-color: rgba(0, 0, 0, 0.2); */
}

.scrollsnap > footer {
    scroll-snap-align: start;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    /* border: 1px dotted orange; */
    padding-bottom: 1em;
    bottom: 0;

}


section > .content {

    position:absolute;
    /* position:relative; */
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform-origin: top center; */

    /* padding-top: 3em; */
    margin: 2em auto;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 10em;
    
    
    /* border: 1px dashed cyan; */
    
}

section .body {
    padding: 2em;
    position: relative;
}

.content h2 {
    text-align: center;
    font-size: 1.5em;
}

section > .content.no-background {
    background-color: transparent;
}

section .with-background {
    background-color: var(--background-rgba-20);
    border-radius: 20px;
    padding: 1.5em;
}

section .bg-grad {
    background-image: var(--content-bg-grad);
}

section > .content.extra-long {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0,0);
    margin-bottom: 35vh;
}

section .centered {
    text-align: center;
}



/* BUTTONS */
button {
    /* margin: 0.5em; */
    padding: 0.5em 1.5em;
    color: var(--foreground-rgba-60);
    background-color: var(--background-rgba-60);
    border: 1px solid var(--foreground-rgba-20);
    border-radius: 8px;
    
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}
button:hover {
    color: var(--foreground-rgb);
    border: 1px solid var(--foreground-rgba-60);
    background-color: var(--background-rgba-20);
}



/* FORMS & INPUTS */
input[type="text"]:not(.tag-input-field), 
input[type="email"]:not(.tag-input-field),
input[type="password"]:not(.tag-input-field), 
input[type="date"]:not(.tag-input-field), 
textarea,
#tag-input {
    display: block;
    /* margin: 0 auto; */
    padding: 0.5em 1em;
    /* margin-top: 1.5em; */
    line-height: 1em;
    max-height: 2em;
    
    color: var(--foreground-rgb);
    background-color: var(--background-rgba-40);
    border-radius: 8px;
    /* border: 1px transparent solid; */
    transition: 0.3s ease-in-out;
    outline: none;
}
input:not(.tag-input-field):focus, textarea:focus {
    background: var(--background-rgba-60);
    /* border: 1px var(--background-start-rgb) solid; */
    outline: none;
}
input:not(.tag-input-field):focus::placeholder {
    opacity: 0.3;
}

label, .item-tags>h3, .add-item h3 {
    
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: calc(0.5em / 0.7);
    transition: 0.5s ease-in-out;
    opacity: 0;
}
label:has(+ input:not(:placeholder-shown)),
label:has(+ textarea:not(:placeholder-shown)) {
    opacity: 0.6;
}



input[type="date"]::-webkit-calendar-picker-indicator {
    /* background-color: var(--background-rgba-80); */
}





/* input[type='text'] + label, 
input[type='email'] + label, 
input[type=password] + label, 
textarea + label {
    
    

    opacity: 0;

    transform: translateY(-1em);
    top: calc(-3.5em / 0.7);

    
    
}
input:not(:placeholder-shown) + label {
    opacity: 0.6;
}

input[type=password] + label {
    color: orange;
} */






/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {

    /* .section {
        max-width: 90vw;
        
    } */

    .scrollsnap > section {
        max-width: 90%;
        padding: 5em 0em;
    }

    section > .content {
        max-width: 90vw;
        /* padding: 1em; */
        margin: auto auto;
    }

    section .body {
        padding: 0em;
    }

    section > .content.long {
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0,0);
    }


  
}