#background {
    /* overflow: hidden; */
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -99;
    /* add a blur effect to this element */
    /* filter: blur(5px); */
    /* transform: scale(1.1); */
}

#background div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%
}

#background div:nth-of-type(1) {
    background: linear-gradient(100deg, var(--background-color-grad-start), var(--background-color-grad-end));
    /* background-image: url('/img/backgroundGradient_light.svg');
    background-size: cover;
    background-repeat: no-repeat; */
}

@media (prefers-color-scheme: dark) {
    #background div:nth-of-type(1) {
        background-image: url('/img/backgroundGradient_dark.svg');
    }
}

@media (prefers-color-scheme: light) {
    #background div:nth-of-type(2) {
        /* background-color: var(--background-rgba-80); */
        background-image: linear-gradient(170deg, var(--background-rgb), var(--background-rgb), var(--background-rgba-40));
    }
}

#background div:nth-of-type(3) {

    /* background-image: var(--background-overlay-gradient); */

}

#background div:nth-of-type(4) {

    /* background-image: radial-gradient(closest-side at 25% 35%, transparent, rgba(0, 0, 0, 0.4)); */

}

#background div:nth-of-type(4) svg {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    /* filter: grayscale(100%); */
    opacity: 0.0;

    mix-blend-mode: multiply;

}