
.content form#add-item-form {
  max-width: 100% !important;
}


.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.add-item {
  /* background-color: var(--border-rgb); */
  /* background: rgba(var(--border-rgb), 0.5); */
  /* border-radius: 25px; */
  padding: 2em;
  text-align: left;
}

.add-item h1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}

.add-item h3 {
  text-transform: uppercase;
  padding-top: 0.5em;
  margin-top: 1em;
}

#add-item-form input[type="radio"]{
  margin-right: 0.5em;
  margin-left: 2em;
}
#add-item-form input[type="radio"]:first-of-type{
  margin-left: 0;
}


/* TITLE */
.item-title{
  font-size: 1.2em;
  width: 100%;
}
/* .item-title input {
  width: 100%;
  margin-bottom: 1em;
} */
form > div > input {
  width: 100%;
  margin-bottom: 1em;
}


/* BODY */

h3.item-body, h3.item-images {
    opacity: 0.8;
    margin-top: 1em;
    font-size: 0.8em;
}






form div.submit-btn{
  text-align: center;
}
form button#publish {
  margin: 2em auto;

}


/* ERROR MESSAGES */
#add-item-form .error-msg {
  color: red;
  opacity: 0;
}
#add-item-form .error-msg.show {
  opacity: 1;
}
#add-item-form .error-msg.warn {
  color: orange;
}

#add-item-form label:has( > span.error-msg.show),
#add-item-form h3:has( > span.error-msg.show) {
  opacity: 1;
}