
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* background-color: var(--background-end-rgb); */
    /* color: #fff; */
    margin: 0 auto;
    width: 80%;
    margin-top: 15vh
  }

.nav-divider {
  display: block;
  width: 80%;
  border-bottom: 1px solid var(--foreground-rgb);
  opacity: 40%;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 0;
  z-index: -50;
}

/* LOGO */
.logo {
font-size: 32px;
}


/* NAVBAR MENU in DESKTOP */
.menu {
display: flex;
gap: 1em;
font-size: 18px;
align-items: center;
z-index: 50;
}
  
.menu li {
    padding: 5px 14px;
    border-radius: 8px;
    border: 1px solid transparent;
    letter-spacing: 0ch;
    transition: all 0.3s ease-in-out;
}

.menu li:hover {
    border: 1px solid white;
    transition: 0.2s ease-in-out;

}


/* DROPDOWN MENU(S) */
.dropdown-parent {
    position: relative;
}

.dropdown {
    position: absolute; /* with respect to parent */
    display: none;
    padding: 1em 2em;
    border-radius: 8px;
    border: 1px solid white;
    transform: translateX(-50%);
    left: 50%;
    top: 40px;
}

.dropdown li {
    width: 8em;
    text-align: center;
    padding: 0.5em 0.5em;
}

.dropdown-parent:hover .dropdown {
    display: block;
    transition: 0.3s ease-in-out;
}



/*  SETUP FOR THE HAMBURGER MENU (Hidden in desktop) */

#checkbox_toggle {
    display: none;
}

.hamburger {
    display: none;
    position: fixed;
    top: 2em;
    right: 2em;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background-color: transparent;
    width: 2.5em;
    height: 2.5em;
    border: 1px dashed transparent;
}

input[type=checkbox]:checked ~ .hamburger {
    background-color: rgba(255, 255, 255, 0.2);
}

.hamburger:before, .hamburger:after {
    font-size: 2em;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    background-color: transparent;
}

.hamburger:before {
    content: "\2630";
    opacity: 1;
    right: 5px;
    top: -5px;
    /* transform: translate(50%, -50%); */
    /* border-radius: 50%; */
}

.hamburger:after {
    content: "\26CC";
    opacity: 0;
    right: 8px;
    top: -8px;
    transform: rotate(-45deg) scale(0.6);
}

input[type=checkbox]:checked ~ .hamburger:before {
    opacity: 0;
    /* right: -25px;
    top: 50%; */
    transform: rotate(45deg)  scale(0.6);
}

input[type=checkbox]:checked ~ .hamburger:after {
    opacity: 1;
    transform: rotate(0deg) scale(1.1);
}


  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
    .navbar {
        width: 100%;
        margin-top: 0;
        padding: 0.8em 0.8em 0.4em 1.5em;
    }

    .hamburger {
        display: inline;
    }

    .menu {
        display: none;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
        color: red;
    }
    
    input[type=checkbox]:checked ~ .menu li {
        letter-spacing: 0ch;
    
    }

  }