
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* background-color: var(--background-end-rgb); */
    /* color: #fff; */
    margin: 0 auto;
    width: 80%;
    margin-top: 15vh
  }

.nav-divider {
  display: block;
  width: 80%;
  transform-origin: left;
  border-bottom: 1px solid var(--foreground-rgb);
  opacity: 40%;
  margin-left: 10%;
  margin-bottom: 2em;
  padding: 0;
  z-index: 98;
  transition: 0.6s ease;
}
  
  .nav-links a {
    /* color: #fff; */
  }
  
  /* LOGO */
  #logo {
    font-size: 32px;
    z-index: 99;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    align-items: center;
    z-index: 50;
  }

  .menu li {
    padding: 5px 14px;
    border-radius: 8px;
    border: 1px solid transparent;
  }
  
  .menu li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid white;
    border-radius: 8px;
    transition: 0.3s ease;
  }
  

  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  
  .services:hover .dropdown {
    display: block;
  }


  /*
  /*
  /* RESPONSIVE NAVBAR MENU STARTS */
  /*
  /**/

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
} 
  
/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}


  /* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .navbar {
      width: calc(100% - var(--scrollbar-width));
      margin-top: 0;
      padding: 0.8em 0.8em 0.4em 1.5em;
      overflow: hidden;
    }

    .menu {
      display: inline-block;
      position: fixed;
      overflow: hidden;
      transform-origin: top right;
      background: linear-gradient(45deg, var(--background-start-rgb), var(--background-end-rgb));
      right: 10px;
      top: 10px;
      margin: 0px auto;
      width: 5vw;
      height: 5vw;
      text-align: center;
      padding: 3em 0;
      z-index: 10;
      border-radius: 50%;
      border: 1px solid white;
      opacity: 0;
      /* transition: 0.3s ease; */
    }

    .menu li:first-of-type{
      margin-top: 2em;
    }

    .menu li {
      margin: 0.7em auto;
      padding: 0.5em 0.5em;
      max-width: 50vw;
      border-radius: 8px;
      border: 1px solid transparent;
      opacity: 0;
      transition: 0.3s ease-in;
    }

       
    .menu li:hover {
      /* display: inline-block; */
      background-color: rgba(255, 255, 255, 0.25);
      border: 1px solid white;
      border-radius: 8px;
      /* transition: 0.3s ease; */
    }
   
     
   
    input[type=checkbox]:checked ~ .menu {
      display: inline-block;
      overflow: hidden;
      border-radius: 8px;
      /* border: 5px dashed red; */
      opacity: 1;
      right: 10px;
      width: calc(95vw - var(--scrollbar-width));
      height: auto;
      transition: 0.3s ease;
    }

    input[type=checkbox]:checked ~ .menu li {
      opacity: 1;

    }



    .ham .line {
      stroke: var(--foreground-rgb);
    }

    .ham {
      border-radius: 50%;
      background: transparent;
    }

    /* input[type=checkbox]:checked ~ .hamburger .ham {
      transform: scale(1.2);
    } */

    /* input[type=checkbox]:checked ~ .hamburger .ham .line {
      stroke: red;
    } */
   
    .hamburger {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      z-index: 99;
    }
   
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
   
    .dropdown li:hover {
      background-color: #4c9e9e;
    }

   }